@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet');

body {
  margin: auto;
  width: 1100px;
  font-size: 17px;
  line-height: 1.1em;
  font-family: 'Open Sans', sans-serif;
}

main {
  height: 1034px;
}
article {
  padding: 0 1em;
}
.courses{
  height: 450px;
}
.education{
  height: 200px;
}
.technologies{
  height: 350px;
}
.interests{
  height: 200px;
}
section{
  margin: auto;
  padding: 1em;
}
#section-left {
   width: 60%;
   float: left;
   margin-left: 2em;
}
#section-top {
  padding: 2em;
  width: 85%;
  font-size: 18px;
  text-align: center;
  line-height: 1.2em;
}

.container {
  width: 60%;
}

.school span {
  color: #1E1305;
  font-weight: bold;
  text-decoration: underline;
}

header, main, footer {
  margin: 0 auto;
  background-color: #E3CFA9;
}

header {
  padding: 2em;
  text-align: center;
  background-size: cover;
  background-image: url('img/bg2.jpg');
  background-position: center;
  color: white;
  height: 330px;
}
.container {
  width: 70%;
  height: 180px;
  border-bottom: none; 
}

.one {
  margin-top: 25px;
  width: 30%;
  height: 50px;
  float: left;
}
.two {
  margin-left: 30%;
  height: 50px;
  float: center;
}

header section {
  margin: 0 auto;
  width: 800px;
}

header img {
  max-width: 150px;
  border-radius: 5%;
}

h1 {
  margin: 1em 0;
  text-transform: uppercase;
}
h2 {
  margin: 1em 0;
  font-style: italic;
}
h3 {
  font-weight: bold;
  text-transform: uppercase;
}

ul {
  margin: 0;
  text-align: left;
}
ul.list-none {
 margin: 15%;
 list-style: none;
}
ul.list-dashed {
  list-style-type: none;
  padding: 0;
}
ul.list-dashed > li {
 padding-left: 0em; 
}
ul.list-dashed > li:before {
  padding-right: 0.5em;
}

footer {
 padding: 1em;
 width: 1075px;
 height: 100px;
 float: center;
 background-color: #C6AC79;
 font-color: white;
 font-size: 13px; 
}


a {
  color: #665B4E;
  font-style: italic;
  text-decoration: none;
  
}

a:hover {
  opacity: 0.5;
}

@media only screen and (max-width: 768px) {

main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  
}
}