@import url('https://fonts.googleapis.com/css2?family=Antonio&family=PT+Serif&display=swap" rel="stylesheet');

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.5em;
  font-family: 'Antonio', sans-serif;
  font-family: 'PT Serif', serif;
}

article {
  padding:0 1em;
}
section{
  margin: 1em;
  padding: 1em;
  border-bottom: thin inset black;
}
section:last-child { 
  border-bottom: none;  
}

header, main, footer {
  margin: 0 auto;
}

header {
  padding: 2em;
  text-align: center;
  background-size: cover;
  background-image: url('img/bg2.jpg');
  background-position: center;
  color: white;
}

header section {
  margin: 0 auto;
  width: 800px;
}

header img {
  max-width: 150px;
  border-radius: 50%;
}

h1 {
  margin: 1em 0;
  text-transform: uppercase;
}
h3 {
  font-weight: bold;
  text-transform: uppercase;
}
main {
  max-width: 1140px;
}
.course {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.course .title {
  color: #315D8C;
  text-decoration: underline overline;
  font-weight: bold;
  -ms-flex: 0 0 33.3%;
  flex: 0 0 33.3%;
  max-width: 33%
}

.course .description {
  -ms-flex: 0 0 66.6%;
  flex: 0 0 66.6%;
  max-width: 66.6%
}
.skills {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.skills .column {
  -ms-flex: 0 0 33%;
  flex: 0 0 33%;
  max-width: 33%;
}

ul {
  margin: 0;
}
ul.list-dashed {
  list-style-type: none;
  padding: 0;
}
ul.list-dashed > li {
 padding-left: 1.5em; 
}
ul.list-dashed > li:before {
  content: "▶";
  padding-right: 0.5em;
}

.school span {
  color: #315D8C;
  font-weight: bold;
  text-decoration: underline;
}

footer {
 padding: 1em;
 font-size: 13px; 
 line-height: 1.2em;
 width: 1020px;
 background-color: #435C76;
 font-color: white;
}

a {
  color: #1C9C94;
}

a:hover {
  opacity: 0.5;
}
